<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players</title>
</head>
<body>
<h1>Player List</h1>

<ul>
    <!-- Перебираем список игроков из модели -->
    <li th:each="player : ${player}">
        <span th:text="${player.id}">Player ID</span>:
        <span th:text="${player.name}">Player Name</span>
    </li>
</ul>

<a href="/add-player">Add Player</a> <!-- Ссылка на страницу добавления игрока -->
</body>
</html>
